<div
  class="is-nintendo bs-72 bg-nintendo-base-color rounded-2xl border-1 border-hotpink-200 center-fucking-everything"
>
  <div class="relative is-14 bs-14 flex items-center justify-center">
    <div class="absolute is-4 bs-full bg-hotpink-200 rounded-sm">
      <div
        class="absolute is-0.5 bs-3 top-1 left-thumb-pad bg-white/70 rounded-sm"
      ></div>
      <div
        class="absolute is-0.5 bs-3 bottom-1 left-thumb-pad bg-white/70 rounded-sm"
      ></div>
    </div>
    <div class="absolute is-full bs-4 bg-hotpink-200 rounded-sm">
      <div
        class="absolute is-3 bs-0.5 left-1 top-thumb-pad bg-white/70 rounded-sm"
      ></div>
      <div
        class="absolute is-3 bs-0.5 right-1 top-thumb-pad bg-white/70 rounded-sm"
      ></div>
    </div>
  </div>
  <div
    class="is-72 bs-52 rounded-md border-8 border-hotpink-200 m-4 bg-white"
  ></div>
  <div
    class="relative is-16 bs-16 bg-pink-100 flex items-center justify-center"
  ></div>
</div>
