.ds-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffebf7;
  width: 320px;
  border: 1px solid #f8c6d0;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.ds-top,
.ds-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.screen {
  width: 280px;
  height: 200px;
  border: 2px solid #f8c6d0;
  margin: 5px 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 15px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);
}

.message-box {
  width: 240px;
  border: 1px solid #f8c6d0;
  background-color: #fff7e6;
  padding: 10px;
  border-radius: 10px;
  position: absolute;
  bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message-header {
  font-weight: bold;
  color: #f48fb1;
  font-size: 16px;
}

.message-body {
  margin-top: 5px;
  color: #333;
  font-size: 14px;
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 280px;
  margin-top: 10px;
}

.d-pad {
  display: grid;
  grid-template-areas:
    "up"
    "center"
    "down"
    "left"
    "right";
  gap: 5px;
}

.d-pad-up,
.d-pad-left,
.d-pad-right,
.d-pad-down,
.d-pad-center {
  width: 30px;
  height: 30px;
  background-color: #ffccf9;
  border: 1px solid #f8c6d0;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.d-pad-up {
  grid-area: up;
}

.d-pad-left {
  grid-area: left;
}

.d-pad-right {
  grid-area: right;
}

.d-pad-down {
  grid-area: down;
}

.d-pad-center {
  grid-area: center;
  background-color: #ff99cc;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.button {
  width: 40px;
  height: 40px;
  background-color: #ffccf9;
  border: 1px solid #f8c6d0;
  border-radius: 50%;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.button:hover {
  background-color: #ff99cc;
}

.start-select {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#start-button,
#select-button {
  width: 60px;
  height: 25px;
  background-color: #ffccf9;
  border: 1px solid #f8c6d0;
  border-radius: 5px;
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

#start-button:hover,
#select-button:hover {
  background-color: #ff99cc;
}
