<nintendo />
<div class="ds-container">
  <div class="ds-top">
    <div class="screen top-screen">
      <div class="message-box">
        <div class="message-header">Mona</div>
        <div class="message-body">
          I'm happy you are here! Down below you can find all platforms that are
          important to me!
        </div>
      </div>
    </div>
  </div>
  <div class="ds-bottom">
    <div class="screen bottom-screen">
      <!-- Additional content can go here -->
    </div>
    <div class="controls">
      <div class="d-pad">
        <div class="d-pad-up"></div>
        <div class="d-pad-left"></div>
        <div class="d-pad-right"></div>
        <div class="d-pad-down"></div>
        <div class="d-pad-center"></div>
      </div>
      <div class="buttons">
        <div class="button" id="x-button">X</div>
        <div class="button" id="y-button">Y</div>
        <div class="button" id="a-button">A</div>
        <div class="button" id="b-button">B</div>
      </div>
      <div class="start-select">
        <div class="button" id="start-button">START</div>
        <div class="button" id="select-button">SELECT</div>
      </div>
    </div>
  </div>
</div>
