<div
  class="is-full bs-6 bg-nintendo-base-color rounded-2xl border-1 border-hotpink-200 flex justify-between items-center"
>
  <div class="is-10 bs-6 border-e-1 border-hotpink-200"></div>
  <div class="center-fucking-everything gap-1">
    <div class="is-[4px] bs-3 bg-black rounded-full"></div>
    <small class="text-xs opacity-40">MIC</small>
  </div>
  <div
    class="is-10 bs-6 border-s-1 border-hotpink-200 center-fucking-everything gap-1"
  >
    <div
      class="is-[3px] bs-4 rounded-2xl bg-linear-to-t from-gray-500 from-40% via-gray-300 via-70% to-gray-500"
    ></div>
    <div
      class="is-[3px] bs-4 rounded-2xl bg-linear-to-t from-green-600 from-40% via-gray-300 via-70% to-green-600"
    ></div>
  </div>
</div>
