@import 'tailwindcss';

@plugin 'tailwindcss-logical';

@theme {
  /* Spacings */
  --spacing-thumb-pad: 7px;

  /* Widths / Inline Size */
  --width-screen: 100vi;
  --spacing-nintendo: 30em;
  --height-nintendo-top-bottom: 21%;
  --spacing-get-a-bigger-phone: 414px;

  /* Height / Block Size */
  --height-screen: 100vb;

  /* Colors */
  --color-nintendo-base-color: #ffe7f3;

  --color-hotpink-100: #ffe1f0;
  --color-hotpink-200: #ffc3e1;
  --color-hotpink-300: #ffa5d2;
  --color-hotpink-400: #ff87c3;
  --color-hotpink-500: #ff69b4;
  --color-hotpink-600: #cc5490;
  --color-hotpink-700: #993f6c;
  --color-hotpink-800: #662a48;
  --color-hotpink-900: #331524;

  --color-green-100: #f1f6ee;
  --color-green-200: #e3eedd;
  --color-green-300: #d6e5cc;
  --color-green-400: #c8ddbb;
  --color-green-500: #bad4aa;
  --color-green-600: #95aa88;
  --color-green-700: #707f66;
  --color-green-800: #4a5544;
  --color-green-900: #252a22;
}

@font-face {
  font-family: "Animal Crossing";
  src: url("../public/FinkHeavy.ttf");
}

html {
  font-family: "Animal Crossing", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
}

@utility center-fucking-everything {
  @apply flex justify-center items-center;
}

@utility cute-background-gradient {
  background: linear-gradient(124.14deg, rgba(255, 252, 243, 0) 20%, rgba(255, 252, 243, 0.3) 39.82%, rgba(255, 252, 243, 0) 60%),
  radial-gradient(154% 102% at 85% 32.47%, rgba(255, 252, 243, 0) 49.82%, rgba(230, 148, 247, 0.4) 82.11%),
  radial-gradient(124% 129% at 35% 78.47%, rgba(255, 252, 243, 0) 49.82%, rgba(255, 252, 243, 0.5) 82.11%),
  radial-gradient(125% 178% at 25% 4.47%, rgba(255, 252, 243, 0) 49.82%, rgba(255, 252, 243, 0.4) 82.11%),
  radial-gradient(41.58% 150.68% at 26.01% 45.34%, rgba(255, 252, 243, 0.5) 19.17%, rgba(255, 252, 243, 0) 100%),
  linear-gradient(84.14deg, rgba(230, 148, 247, 0.1) 2.84%, rgba(247, 161, 166, 0.1) 118.515%),
  radial-gradient(50% 120% at 100% 14.47%, rgba(175, 155, 241, 0) 6.9%, rgba(211, 199, 248, 0.3) 52.84%, rgba(175, 155, 241, 0) 100%),
  radial-gradient(56% 120% at 90% 112.47%, rgba(255, 155, 130, 0) 26.9%, rgba(255, 155, 130, 0.6) 72.84%, rgba(255, 155, 130, 0) 100%),
  radial-gradient(35% 68% at 35% 84.47%, #ffaf9b 49.82%, rgba(251, 211, 199, 0) 82.11%),
  linear-gradient(84.14deg, #e694f7 2.84%, #f7a1a6 118.515%);
}
